<div class="page_container">
<h1>Selected Department</h1>
<p>
Title : <%=@priority.title%>
</p>
<%=link_to "Edit", edit_priority_path(@priority) %> |
<%=link_to "Back to priority list", priorities_path %>
</div>
