<div class="page_container">
<div class="jumbotron">
  <h1>CanDiTicket</h1>
  <p>Ruby on Rails Online Help Desk / Customer Support Software</p>
  <p><%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-lg"%> </p>
</div>
</div>
