<div class="page_container">
<h1>All tickets</h2>
  <div class="col-lg-6 col-md-6">
  <p>
  <%=link_to "Create new ticket", new_ticket_path %>
</p>


<%= render 'ticket', obj: @members %>
  <div>
</div>
