<div class="page_container">
<h1>Selected Sla Plan</h1>
<p>
Title : <%=@sla_plan.title%>
</p>
<p>
Response Time : <%=@sla_plan.responsetime%>
</p>
<%=link_to "Edit", edit_sla_plan_path(@sla_plan) %> |
<%=link_to "Back to sla_plan list", sla_plans_path %>
</div>
