<footer>
  <div class="row">
    <div class="col-xs-12">
      <div class="page_container  text-right">
        <small>Copyright &copy; 2017 CanDiTicket</small>
      </div>
    </div>
  </div>
</footer>
