<h1>Selected Member</h1>
<p>
  <%= gravatar_for @member, size: 150%>
</p>
<p>
Email : <%=@member.email%>
</p>

<%=link_to "Edit", edit_member_path(@member) %> |
<%=link_to "Back to member list", members_path %>
