<h1>Selected Member</h1>
<p>
Title : <%=@member.email%>
</p>
<p>
Title : <%=@member.password%>
</p>
<%=link_to "Edit", edit_member_path(@member) %> |
<%=link_to "Back to member list", members_path %>
